<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>高校在线请假管理系统</display-name>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.campus.leave.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.campus.leave.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.campus.leave.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.campus.leave.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.campus.leave.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CollegeServlet</servlet-name>
        <servlet-class>com.campus.leave.servlet.CollegeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CollegeServlet</servlet-name>
        <url-pattern>/admin/colleges</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClassServlet</servlet-name>
        <servlet-class>com.campus.leave.servlet.ClassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassServlet</servlet-name>
        <url-pattern>/admin/classes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.campus.leave.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LeaveRequestServlet</servlet-name>
        <servlet-class>com.campus.leave.servlet.LeaveRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaveRequestServlet</servlet-name>
        <url-pattern>/leaves</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApprovalServlet</servlet-name>
        <servlet-class>com.campus.leave.servlet.ApprovalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApprovalServlet</servlet-name>
        <url-pattern>/teacher/approvals</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StatsServlet</servlet-name>
        <servlet-class>com.campus.leave.servlet.StatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatsServlet</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
</web-app>
